<h1>連絡帳</h1>

<% if @message %>
  <div class="message"><%= @message %></div>
<% end %>
<div>
  <a href="/contact_new">新しい連絡先</a>
</div>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>email</th>
    </tr>
  </thead>
  <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
        </tr>
      <% end %>
    </tbody>
</table>

<footer>
  <a href="about.html">このサービスについて</a>
  <p>今の時刻は：<%= @now %></p>
</footer>
