<div class="w3-container">
  <header>
    <h1>連絡帳</h1>
    <% if @message %>
      <div class="message"><%= @message %></div>
    <% end %>
    <div>
      <a href="/contact_new" class="w3-btn w3-teal w3-round-large">新しい連絡先</a>
    </div>
    <br>
  </header>

  <div>
    <table class="w3-table-all">
      <thead>
        <tr>
          <th>ID</th>
          <th>名前</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.id %></td>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><button class="w3-btn w3-green">削除</button></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <br>
  <footer>
    <a href="/about">このサービスについて</a>
    <p><%= @now %></p>
  </footer>
</div>



